{% extends 'base.html' %}

{% block content %}

<div class="container">
		<div class="row">
			<div class="col-sm-10"></div>
			<div class="col-sm-2">
				<br>
				<a href= {{ url_for('view_task', number_task=task.id) }} class="btn btn-outline-secondary">Назад</a>
			</div>
		</div>
	</div>
<div class="container">
    <h1>{{ task.name }}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p> Номер задачи <input type="text" id="id" name="id" value={{task.id}} class="field left" readonly>   <br> </p>
        <p> Название задачи <input type="text" id="name" name="name" value={{task.name}} class="field left">   <br> </p>
        <p> Описание задачи <input type="text" id="description "name="description" value={{task.description}} class="field left">   <br> </p>
        <p> Дата создания <input type="text" id="data" name.data value={{task.date}} class="field left" readonly>   <br> </p>        
        
        {% set _ = form.flag.__setattr__('data', task.flag) %}
        {% for f in (form | list)[3:4]  %}
        	<p> {{ f.label }} {{ f }}  <br> </p>
        {% endfor %}

        <p> {{ form.save }} </p>
        
    </form>
</div>	
    
{% endblock %}